.about_box {
    padding: 0;
    position: relative;
    display: flex;
}

.about_photo {
    text-align: center;
    width: 40%;
}

.about_photo img {
    width: 100%;
    max-width: 300px;
}

.about_txt {
    padding: 0 48px;
    width: 60%;
    box-sizing: border-box;
}

.about_txt h3 {
    font-size: 2.5rem;
    line-height: 120%;
    letter-spacing: 0.2em;
    margin-bottom: 16px;
}

.about_txt h3 .about_txtjp {
    font-size: 2rem;
    font-weight: normal;
    font-family: 'Yuji Mai', serif;
}

.about_txt h4 {
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 2rem;
}

.about_txt p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 105%;
    font-family: 'Vollkorn', serif;
}

.about_txt p span {
    font-size: 1.8rem;
    line-height: 105%;
    font-family: 'Vollkorn', serif;
}

.about_txt div {
    display: inline-block;
    margin-right: 5%;
    width: 45%;
    vertical-align: top;
}

.about_txten {
}

.about_sns {
    height: 4rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about_sns img {
    height: 48px;
    padding: 16px 24px;
    filter: grayscale(1) brightness(1);
    transition: 0.4s;
}

.about_sns span img {
    filter: grayscale(1) brightness(1) invert(0.2);
}

.about_sns img:hover {
    height: 64px;
    filter: grayscale(0) brightness(1);
}

/*--- PC /tab / SP ------------------------------------------------------------------------------*/
/* pc */
@media screen and (min-width: 1025px) {
    .hide_pc {
        display: none;
    }

    .hide_tab {
        display: block;
    }

    .hide_sp {
        display: block;
    }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 481px){

    .hide_pc {
        display: block;
    }

    .hide_tab {
        display: none;
    }

    .hide_sp {
        display: block;
    }


}

/* sp */
@media screen and (max-width: 480px) {

    .hide_pc {
        display: block;
    }

    .hide_tab {
        display: block;
    }

    .hide_sp {
        display: none;
    }

    .about_box {
        padding: 0;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .about_photo {
        text-align: center;
        padding: 0 10%;
        width: 80%;
    }

    .about_photo img {
        width: 100%;
        max-width: 444px;
    }

    .about_txt {
        padding: 0 1rem;
        width: 100%;
    }

    .about_txt h3 {
        text-align: center;
        font-size: 1.7rem;
        line-height: 120%;
        margin-top: 32px;
        margin-bottom: 0;
    }

    .about_txt h3 .about_txtjp {
        font-size: 1.8rem;
    }

    .about_txt h4 {
        text-align: center;
        font-size: 1.2rem;
    }

    .about_txt div {
        display: inline-block;
        margin-right: 0;
        width: 100%;
        vertical-align: top;
    }


    .about_sns img {
        height: 36px;
        padding: 16px 8px;
        filter: grayscale(1) brightness(1);
        transition: 0.4s;
    }
}
