.contact_address, .contact_form {
    overflow-x: hidden;
    margin: 0 2rem 4rem;
    padding: 3rem 6rem;
    border-radius: 2rem;
    box-sizing: border-box;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -15px -15px 30px rgb(45, 45, 45);
    color: white;
}

.contact_address {
}

.contact_address p, .contact_form p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: 'Gruppo', sans-serif;
}

.contact_address span {
    font-family: 'Gruppo', sans-serif;
}

.contact_address h3 {
    font-size: 3rem;
    position: relative;
    font-family: 'Gruppo', sans-serif;
}

.contact_address h3 img {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(50%, -50%);
    height: 50px;
}

.contact_address h3 span {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(50%, -50%);
    text-align: center;
    font-size: 1rem;
    white-space: nowrap;
    cursor: default;
}

.contact_address .filterwhite {
    filter: invert(0.8);
}

.contact_address .filtegreen {
    filter: invert(56%) sepia(100%) saturate(494%) hue-rotate(87deg) brightness(97%) contrast(95%);
}

.contact_form {
    overflow-x: hidden;
}

.contact_form #form_area {
    display: flex;
    flex-direction: row;
    width: calc(200% + 12rem);
    gap: 12rem;
    transition: 0.4s;
}

.contact_form #form_area .form_sending,
.contact_form #form_area .form_is_send {
    width: 50%;
    text-align: center;
}

.contact_form #form_area .form_sending p {
    width: 50%;
    text-align: left;
}

.form_send_message {
    transform: translateX(calc(-50% - 6rem));
}

.form_is_send p,
.form_is_send div {
    display: none;
}

.form_send_message p,
.form_send_message div {
    display: block
}


.form_is_send p {
    margin: 6rem 0;
    font-size: 2rem;
}

.form_is_send a {
    font-size: 2rem;
}

.form_field_item {
    width: 100%;
    position: relative;
    display: flex;
}

.form_field_item input,
.form_field_item textarea {
    display: block;
    margin: 1rem 0 1.5rem;
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    resize: none;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1.2rem;
    font-family: 'Gruppo', sans-serif;
    flex-grow: 1;
    color: #0a1929;
    font-weight: bold;
}

.form_field_item textarea {
    height: 12rem;
}

.form_field_item input::placeholder,
.form_field_item textarea::placeholder {
    font-family: 'Gruppo', sans-serif;
    color: rgba(0, 0, 0, 1);
    font-weight: normal;
}

.form_field_lamp {
    width: 50px;
    padding-left: 10px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.form_field_lamp div {
    width: 20px;
    height: 20px;
    margin: 1rem 0 1.5rem;
    border-radius: 50%;
    background-color: #b8cbc8;
}

.lamp_on div {
    border-radius: 50%;
    background-color: #09ffe5;
    box-shadow: 0 0 5px #09ffe5, 0 0 15px #09ffe5, 0 0 25px #09ffe5, 0 0 35px #09ffe5;

}

.lamp_error div {
    border-radius: 50%;
    background-color: #FFA400;
    box-shadow: 0 0 5px #FFA400, 0 0 15px #FFA400, 0 0 25px #ff5908, 0 0 35px #ff5908;
}

.form_field_item .form_alert {
    position: absolute;
    bottom: -1rem;
    left: 1rem;
}

.form_switch {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 1rem 0 1.5rem;
}


.form_switch button,
.form_switch a {
    position: relative;
    margin: 0 auto;
    padding: 1rem 9rem;
    border-radius: 22rem;
    border: none;
    text-align: center;
    font-family: 'Gruppo', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
}


.arrowyellow {
    top: -14px;
    left: -72px;
    position: absolute;
    color: #f9ff3f;
    text-shadow: 0 0 10px;
    font-size: 60px;
    animation: tenmetsu 1s linear infinite;
}

@keyframes tenmetsu {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        left: -80px;
        opacity: 0.3;
    }
}

.form_switch button:disabled {
    color: #b6b6b6
}

.form_switch button:disabled + .arrowyellow {
    display: none;
}


/*/////////////////////////////////////////////////////////////////////////////////////*/

.form_indicate {
    position: relative;
    display: flex;
    padding: 3rem 0;
}

.form_indicate p {
    flex-grow: 1;
    display: grid;
    justify-content: center;
    align-content: center;
    position: relative;
}

.form_indicate p:nth-child(-n+3):before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    background-color: rgba(255, 255, 255, 0.66);
    height: 10px;
    width: 100%;
    z-index: 1;
}

.form_indicate span {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c9c9c9;
    z-index: 2;
}

.form_indicate_curr span {
    scale: 0.8;
    background-color: #09ffe5;
    box-shadow: 0 0 5px #09ffe5, 0 0 15px #09ffe5, 0 0 25px #09ffe5, 0 0 35px #09ffe5;
}

.indicate_orange span {
    scale: 0.8;
    background-color: #FFA400;
    box-shadow: 0 0 5px #FFA400, 0 0 15px #FFA400, 0 0 25px #ff5908, 0 0 35px #ff5908;
}

.fade_out_s {

}

.jp .contact_address span, .contact_form span,
.jp .contact_form button,
.jp .contact_form input,
.jp .contact_form textarea {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 200;
}

.form_alert span {
    font-size: 1rem;
}

.jp .form_field_item input::placeholder,
.jp .form_field_item textarea::placeholder {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.4);
}

/*--- PC /tab / SP ------------------------------------------------------------------------------*/
/* pc */
@media screen and (min-width: 1025px) {
    .hide_pc {
        display: none;
    }

    .hide_tab {
        display: block;
    }

    .hide_sp {
        display: block;
    }
}

/* tab */
@media screen and (max-width: 1024px)and (min-width: 480px) {

    .hide_pc {
        display: block;
    }

    .hide_tab {
        display: none;
    }

    .hide_sp {
        display: block;
    }

    .contact_address, .contact_form {
        overflow-x: hidden;
        margin: 0 0 4rem;
        padding: 2rem 3rem;
        border-radius: 2rem;
        box-sizing: border-box;
        background: #212121;
        box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -15px -15px 30px rgb(45, 45, 45);
        color: white;
    }


    .contact_address p, .contact_form p {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-family: 'Gruppo', sans-serif;
    }

    .contact_address h3 {
        padding-right: 40px;
        margin-right: 25px;
        font-size: 2.2rem;
        text-align: center;
    }

    .form_field_lamp {
        width: 25px;
        padding-left: 10px;
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .form_field_lamp div {
        width: 15px;
        height: 15px;
        margin: 1rem 0 1.5rem;
        border-radius: 50%;
    }

    .form_is_send p {
        margin: 4rem 0 6rem;
        font-size: 2rem;
    }

}

/* sp */
@media screen and (max-width: 480px) {

    .hide_pc {
        display: block;
    }

    .hide_tab {
        display: block;

    }

    .hide_sp {
        display: none;
    }

    .contact_address, .contact_form {
        overflow-x: hidden;
        margin: 0 0 4rem;
        padding: 2rem 1rem;
        border-radius: 2rem;
        box-sizing: border-box;
        background: #212121;
        box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -15px -15px 30px rgb(45, 45, 45);
        color: white;
    }


    .contact_address p, .contact_form p {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-family: 'Gruppo', sans-serif;
    }

    .contact_address h3 {
        margin: 2rem 0 4.5rem;
        font-size: 1.8rem;
        text-align: center;
    }

    .contact_address h3 img {
        position: absolute;
        top: 3.8rem;
        right: 50%;
        transform: translateX(50%);
        height: 50px;
    }

    .contact_address h3 span {
        position: absolute;
        top: 4.8rem;
        right: 50%;
        transform: translateX(50%);
        width: 100px;
        text-align: center;
        font-size: 1rem;
        cursor: default;
    }


    .form_field_lamp {
        width: 25px;
        padding-left: 10px;
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .form_field_lamp div {
        width: 15px;
        height: 15px;
        margin: 1rem 0 1.5rem;
        border-radius: 50%;
    }

    .contact_form #form_area .form_sending p {
        width: 100%;
        text-align: left;
    }

    .form_is_send p {
        margin: 2rem 0 6rem;
        font-size: 2rem;
    }

    .form_switch {
        margin-top: 2rem;
    }

    .form_switch button,
    .form_switch a {
        padding: 1rem 6rem;
    }

    .arrowyellow {
        top: -52px;
        left: 50%;
        height: 4rem;
        position: absolute;
        color: #f9ff3f;
        text-shadow: 0 0 10px;
        font-size: 32px;
        animation: tenmetsu_sp 1s linear infinite;
        transform: rotate(90deg) translateY(50%);
    }

    @keyframes tenmetsu_sp {
        0% {
            opacity: 1;
        }
        75% {
            opacity: 1;
        }
        100% {
            top: -60px;
            opacity: 0.3;
        }
    }
}
