.loading {
    min-height: 100vh;
    background-color: #222;
    color: aliceblue;
}
/*--- PC /tab / SP ------------------------------------------------------------------------------*/
/* pc */
@media screen and (min-width: 1025px) {
    .hide_pc {
        display: none;
    }

    .hide_tab {
        display: block;
    }

    .hide_sp {
        display: block;
    }
}

/* tab */
@media screen and (max-width: 1024px)and (min-width: 480px) {

    .hide_pc {
        display: block;
    }

    .hide_tab {
        display: none;
    }

    .hide_sp {
        display: block;
    }


}

/* sp */

@media screen and (max-width: 480px) {

    .hide_pc {
        display: block;
    }

    .hide_tab {
        display: block;

    }

    .hide_sp {
        display: none;
    }

}
