.sidebar_container {
    position: fixed;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.sidebar_container ul {
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sidebar_container img {
    height: 40px;
    padding: 0.5rem;
    filter: grayscale(1) brightness(1);
    transition: 0.4s;
    border-radius: 50%;
    animation: 0.5s fade_in_left forwards;

}

.sidebar_container span img {
    filter: grayscale(1) brightness(1) invert(0.2);
}

.sidebar_container img:hover {
    height: 64px;
    filter: grayscale(0) brightness(1);
}

.sidebar_container:not(:hover) img {
    animation: snslight 14s linear infinite;
}

.sidebar_container li:nth-child(2) img {
    animation-delay: 2s;
}

.sidebar_container li:nth-child(3) img {
    animation-delay: 4s;
}

.sidebar_container li:nth-child(4) img {
    animation-delay: 6s;
}

.sidebar_container li:nth-child(5) img {
    animation-delay: 8s;
}

.sidebar_container li:nth-child(6) img {
    animation-delay: 10s;
}

@keyframes snslight {
    0% {
        height: 40px;
        filter: grayscale(1) brightness(1) invert(0.2);
    }
    5% {
        height: 64px;
        filter: grayscale(0) brightness(1);
    }
    10% {
        height: 64px;
        filter: grayscale(0) brightness(1);
    }
    15% {
        height: 40px;
        filter: grayscale(1) brightness(1) invert(0.2);
    }
    100% {
    }
}

/*--- PC /tab / SP ------------------------------------------------------------------------------*/
/* pc */
@media screen and (min-width: 1025px) {
    .hide_pc {
        display: none;
    }

    .hide_tab {
        display: block;
    }

    .hide_sp {
        display: block;
    }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 480px) {

    .hide_pc {
        display: block;
    }

    .hide_tab {
        display: none;
    }

    .hide_sp {
        display: block;
    }


    .sidebar_container {
        display: none;
    }

}

/* sp */

@media screen and (max-width: 480px) {

    .hide_pc {
        display: block;
    }

    .hide_tab {
        display: block;

    }

    .hide_sp {
        display: none;
    }

    .sidebar_container {
        display: none;
    }
}
