.sidebutton_container {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(20%, -50%);
}

.sidebutton_container a {
    position: relative;
    display: block;
    rotate: -90deg;
    font-size: 2rem;
    font-family: 'Gruppo', sans-serif;
    font-weight: normal;
    padding: 8px 24px 8px 32px;
    border-radius: 6px;
    color: #0a1929;
    vertical-align: bottom;
    transition: 0.2s;
    overflow: hidden;
}

.sidebutton_container a:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 240px;
    top: 0;
    left: -240px;
    border-right: 240px solid rgba(245, 245, 245, 1);
    background-image: url("../asset/wallpaper30.jpg");
    background-size: 100%;
    transition: 0.2s;
    z-index: -1;
}

.sidebutton_container a img {
    height: 28px;
    padding: 0 12px;
    vertical-align: bottom;
    filter: invert(0.7);
    rotate: 90deg;
    transition: 0.2s;

}


.sidebutton_container a:hover {
    text-shadow: 0 0 10px #0a1929;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 0 30px #ffffff, 0 0 10px #ffffff;
}

.sidebutton_container a:hover:before {
    left: 0;
    opacity: 0.8;
    font-weight: bold;
}

.sidebutton_container a:hover img {
    filter: invert(1) brightness(1);
}