.sidebar_container {
    position: fixed;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.sidebar_container ul {
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar_container img {
    height: 40px;
    padding: 0.5rem;
    filter: grayscale(1) brightness(1);
    transition: 0.4s;
    border-radius: 50%;
}

.sidebar_container span img {
    filter: grayscale(1) brightness(1) invert(0.2);
}

.sidebar_container img:hover {
    height: 64px;
    filter: grayscale(0) brightness(1);
}

/*--- PC /tab / SP ------------------------------------------------------------------------------*/
/* pc */
@media screen and (min-width: 1025px) {
    .hide_pc {
        display: none;
    }

    .hide_tab {
        display: block;
    }

    .hide_sp {
        display: block;
    }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 480px) {

    .hide_pc {
        display: block;
    }

    .hide_tab {
        display: none;
    }

    .hide_sp {
        display: block;
    }


    .sidebar_container {
        display: none;
    }

}

/* sp */

@media screen and (max-width: 480px) {

    .hide_pc {
        display: block;
    }

    .hide_tab {
        display: block;

    }

    .hide_sp {
        display: none;
    }

    .sidebar_container {
        display: none;
    }
}
