.works_box {
    margin: 0 auto;
    max-width: 80%;
}

.work_item {
    margin-bottom: 128px;
    position: relative;
}

.thumbnail_pc, .thumbnail_sp {
    box-sizing: border-box;
    box-shadow: #757575 0 0 10px;
    overflow-y: scroll;
    display: inline-block;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.thumbnail_pc {
    border-radius: 8px;
    height: 60vh;
    width: 80%;
    margin-right: 3%;
    transition: 0.2s;
}

.thumbnail_sp {
    position: relative;
    border-radius: 16px;
    height: 50vh;
    width: 15%;
    background-color: white;
    padding-top: 2px;
    transition: 0.2s;
}

.work_thumbnail:hover .thumbnail_pc {

}


.work_thumbnail:hover .thumbnail_sp {

}

.work_thumbnail:hover .thumbnail_pc:not(:hover) {
    filter: brightness(0.4);
}

.work_thumbnail:hover .thumbnail_sp:not(:hover) {
    filter: brightness(0.4);
}

.violet {
    background-color: #b00058;
}

.thumbnail_sp:hover {

}

.thumbnail_sp span {
    display: block;
    position: sticky;
    top: 0;
    left: 25%;
    height: 10px;
    width: 50%;
    border-radius: 5px;
    background-color: #222222;
}

.thumbnail_pc::-webkit-scrollbar,
.thumbnail_sp::-webkit-scrollbar {
    display: none;
}


.thumbnail_sp img, .thumbnail_pc img {
    width: 100%;
}

.work_thumbnail p {
    text-align: right;
}

.work_thumbnail p img {
    height: 32px;
    padding: 1rem 8px 0.5rem;
    filter: brightness(1);
}

.work_detail {
}

.work_item h3,
.work_detail h3 {
    margin: 1rem 0 0.5rem;
    font-size: 1.8rem;
    font-style: italic;
    font-family: 'Vollkorn', serif;
}

.work_detail h4, .work_detail h4 i {
    margin: 0.5rem 0;
    font-weight: normal;
    font-size: 1.2rem;
    color: #797979;
    font-family: 'Vollkorn', serif;
}

.work_detail h4 a u {
    margin: 1rem 0;
    font-weight: normal;
    color: #90a1ff;
    font-family: 'Gruppo', sans-serif;
    background-image: url("../asset/wallpaper30.jpg");
    background-attachment: fixed;
    background-size: 60%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.4);
}

.work_detail p {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-family: 'Gruppo', sans-serif;
}


.work_detail p .visitsite {
    position: relative;
    margin: 2rem auto 0;
    display: inline-block;
    border: 1px #ffffff solid;
    border-radius: 8px;
    padding: 1rem 4rem;
}

.work_detail p .visitsite:hover:before,
.work_detail p .visitsite:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -6px;
    left: -6px;
    border: 1px #ffffff solid;
    border-radius: 8px;

}

.work_detail p .visitsite:hover:after {
    top: 6px;
    left: 6px;
}

.work_detail p .visitsite:before,
.work_detail p .visitsite:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px #ffffff solid;
    border-radius: 8px;
    transition: 0.4s;
}

.work_detail p:has(.visitsite) {
    text-align: center;
}

.work_detail .visitsite span {
    font-family: "Zen Dots", sans-serif;
}

.jp .work_detail span {
    font-family: "Shippori Mincho", serif;
}

/*--- PC /tab / SP ------------------------------------------------------------------------------*/
/* pc */
@media screen and (min-width: 1025px) {
    .hide_pctab {
        display: none;
    }

    .hide_tab {
        display: block;
    }

    .hide_sp {
        display: block;
    }
}

/* tab */
@media screen and (max-width: 1024px) and (min-width: 480px) {

    .hide_pctab {
        display: none;
    }

    .hide_tab {
        display: none;
    }

    .hide_sp {
        display: block;
    }

    .works_box {
        margin: 0 auto;
        max-width: 100%;
    }

    .work_detail p {
        display: inline-block;
        width: 95%;
        margin-right: 5%;
        margin-bottom: 1rem;
        vertical-align: top;
        font-size: 1.1rem;
    }
}

/* sp */

@media screen and (max-width: 480px) {

    .works_box .hide_pctab {
        display: block;
        margin-bottom: 1rem;
    }

    .hide_tab {
        display: block;

    }

    .hide_sp {
        display: none;
    }

    .works_box {
        margin: 0 auto;
        max-width: 100%;
    }

    .work_thumbnail {
        text-align: center;
    }

    .thumbnail_pc {
        border-radius: 4px;
        height: 200px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 3rem;
        transition: 0.2s;
    }

    .thumbnail_sp {
        position: relative;
        border-radius: 16px;
        height: 280px;
        width: 100px;
        margin: 0 auto;
        background-color: white;
        padding-top: 2px;
        transition: 0.2s;
    }

    .works_box h3 {
        font-size: 1.2rem;
    }


}
